@model Shop.Web.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row my-3">
    <div class="col-12">
        <h4>Country</h4>
        <hr />
        <div class="row d-flex align-self-auto">
            <div class="col-xs-1 col-sm-1 col-lg-1">
                <h5>@Html.DisplayNameFor(model => model.Name)</h5>
                
            </div>             
            <div class="col-xs-11 col-sm-11 col-lg-6">
                <h5>@Html.DisplayFor(model => model.Name)</h5>
            </div>

        </div> 
    </div>
</div>
<div class="row my-3">
    <div class=" col-12 my-6">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="far fa-edit"></i> Edit</a>
        <a asp-action="AddCity" asp-route-id="@Model.Id" class="btn btn-info"><i class="far fa-plus"></i> Add City</a>
        <a asp-action="Index" class="btn btn-success"><i class="far fa-chevron-left"></i> Back to List</a>
    </div>
</div>



<h4>Cities</h4>
@if (Model.Cities == null || Model.Cities.Count == 0)
{
    <h5>No cities added yet</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cities.OrderBy(c => c.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td id="@item.Id">
                        <a asp-action="EditCity" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="DeleteCity" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Modal Confirm Delete item-->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Delete City</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete the city?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnNoDelete">No</button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">Yes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {

            var id = 0;

            $('a[id*=btnDelete]').click(function () {
                debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal('show');
                return false;
            });

            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal('hide');
                return false;
            });


            $("#btnYesDelete").click(function () {
                window.location.href = '/Countries/DeleteCity/' + id;
            });

        });
    </script>
}
