@model IEnumerable<Shop.Web.Data.Entities.Order>

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Orders</h2>

    <p>
        <a asp-action="Create" class="btn btn-primary"><i class="fal fa-cart-arrow-down fa-2x"></i> New Order</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                @if (this.User.IsInRole("Admin"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.User.FullName)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.OrderDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lines)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <th>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </th>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lines)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i> Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="far fa-info-circle"></i> Details</a>*@
                        <a asp-action="Deliver" asp-route-id="@item.Id" class="btn btn-primary"><i class="far fa-truck"></i> Deliver</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

